.search-bar {
	padding: 20px 0;
	text-align:center;
}

.search-bar input {
	width: 75%;
	padding:10px;
}

.video-item img {
	max-width:64px;
}

.video-details .details {
	margin-top: 10px;
	padding:10px;
	border:1px solid #ddd;
	border-radius:4px;
}

.list-group-item {
	cursor:pointer;
}

.list-group-item:hover {
	background-color:#eee;
}

.detail {

}

.details-title {
 font-weight:bold;
 font-size:16px;
 padding:15px 0;
}

.details-description {

}